:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FAF0DC;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
}

h1 {
  color: black;
}

.foodNameHeader {
  color: white;
}

.foodbox-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 40px auto;
  border: 1px solid rgba(255, 255, 255, 0.132);
  padding: 20px 30px;
  border-radius: 10px;
  background-color: black;
  justify-content: center;
}

.foodbox-main-left,
.foodbox-main-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foodbox-main-left {
  width: 60%;
  margin-right: 50px;
}

.foodbox-main-right {
  width: 40%;
}

input {
  height: 30px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
}

.add {
  height: auto;
  padding: 10px;
  width: auto;
  border: none;
  background-color: #2daf26e5;
  color: rgba(255, 255, 255, 0.785);
  border-radius: 100px;
  margin-left: 20px;
}

.foodbox-main-left>img {
  width: 150px;
  height: 120px;
  border-radius: 5px;
}

h2 {
  font-size: 20px;
  color: #f7f7f7b0;
  font-weight: 500;
}

h4+button {
  padding: 5px;
}

.reset,
.add {
  cursor: pointer;

}

.reset {
  background-color: rgb(205, 19, 19);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.resultHeader {
  color: black;
}